.webicons.adjust i:before {
    content: "\e092";
}

.webicons.tint i:before {
    content: "\e093";
}

.webicons.crop i:before {
    content: "\e094";
}

.webicons.vector_path_square i:before {
    content: "\e095";
}

.webicons.vector_path_circle i:before {
    content: "\e096";
}

.webicons.vector_path_polygon i:before {
    content: "\e097";
}

.webicons.vector_path_line i:before {
    content: "\e098";
}

.webicons.vector_path_curve i:before {
    content: "\e099";
}

.webicons.vector_path_all i:before {
    content: "\e100";
}

.webicons.eye_open i:before {
    content: "\e052";
}

.webicons.eye_close i:before {
    content: "\e053";
}

.webicons.font i:before {
    content: "\e101";
}

.webicons.italic i:before {
    content: "\e102";
}

.webicons.bold i:before {
    content: "\e103";
}

.webicons.text_underline i:before {
    content: "\e104";
}

.webicons.text_strike i:before {
    content: "\e105";
}

.webicons.text_height i:before {
    content: "\e106";
}

.webicons.text_width i:before {
    content: "\e107";
}

.webicons.text_resize i:before {
    content: "\e108";
}

.webicons.left_indent i:before {
    content: "\e109";
}

.webicons.ruler i:before {
    content: "\e069";
}

.webicons.right_indent i:before {
    content: "\e110";
}

.webicons.align_left i:before {
    content: "\e111";
}

.webicons.align_center i:before {
    content: "\e112";
}

.webicons.align_right i:before {
    content: "\e113";
}

.webicons.justify i:before {
    content: "\e114";
}

.webicons.list i:before {
    content: "\e115";
}

.webicons.text_smaller i:before {
    content: "\e116";
}

.webicons.text_bigger i:before {
    content: "\e117";
}

.webicons.embed i:before {
    content: "\e118";
}

.webicons.embed_close i:before {
    content: "\e119";
}

.webicons.table i:before {
    content: "\e120";
}

.webicons.eyedropper i:before {
    content: "\e091";
}

.webicons.brightness_reduce i:before {
    content: "\e189";
}

.webicons.brightness_increase i:before {
    content: "\e190";
}
