.webicons.podium i:before {
    content: "\e329";
}

.webicons.football i:before {
    content: "\e330";
}

.webicons.baseball i:before {
    content: "\e312";
}

.webicons.rugby i:before {
    content: "\e313";
}

.webicons.table_tennis i:before {
    content: "\e315";
}

.webicons.bowling i:before {
    content: "\e316";
}

.webicons.snorkel_diving i:before {
    content: "\e251";
}

.webicons.scuba_diving i:before {
    content: "\e252";
}

.webicons.bullets i:before {
    content: "\e282";
}

.webicons.bomb i:before {
    content: "\e290";
}

.webicons.skull i:before {
    content: "\e291";
}

.webicons.shield i:before {
    content: "\e271";
}

.webicons.riflescope i:before {
    content: "\e378";
}

.webicons.gamepad i:before {
    content: "\e322";
}

.webicons.crosshair i:before {
    content: "\e186";
}

.webicons.cup i:before {
    content: "\e075";
}
