.webicons.router i:before {
    content: "\e047";
}

.webicons.camera_small i:before {
    content: "\e048";
}

.webicons.camera i:before {
    content: "\e012";
}

.webicons.print i:before {
    content: "\e016";
}

.webicons.projector i:before {
    content: "\e057";
}

.webicons.tablet i:before {
    content: "\e280";
}

.webicons.imac i:before {
    content: "\e161";
}

.webicons.macbook i:before {
    content: "\e162";
}

.webicons.ipad i:before {
    content: "\e163";
}

.webicons.iphone i:before {
    content: "\e164";
}

.webicons.iphone_shake i:before {
    content: "\e337";
}

.webicons.iphone_transfer i:before {
    content: "\e165";
}

.webicons.iphone_exchange i:before {
    content: "\e166";
}

.webicons.ipod i:before {
    content: "\e167";
}

.webicons.ipod_shuffle i:before {
    content: "\e168";
}

.webicons.phone i:before {
    content: "\e170";
}

.webicons.webcam i:before {
    content: "\e302";
}
