/** Profile **/
.webicons.user i:before {
    content: "\e004";
}

.webicons.user_add i:before {
    content: "\e007";
}

.webicons.user_remove i:before {
    content: "\e008";
}

.webicons.woman i:before {
    content: "\e036";
}

.webicons.group i:before {
    content: "\e044";
}

.webicons.film i:before {
    content: "\e009";
}

.webicons.envelope i:before {
    content: "\2709";
}

.webicons.heart i:before {
    content: "\e013";
}

.webicons.bin i:before {
    content: "\e017";
}

.webicons.home i:before {
    content: "\e021";
}

.webicons.fire i:before {
    content: "\e023";
}

.webicons.magnet i:before {
    content: "\e024";
}

.webicons.binoculars i:before {
    content: "\e026";
}

.webicons.search i:before {
    content: "\e028";
}

.webicons.notes_2 i:before {
    content: "\e030";
}

.webicons.pencil i:before {
    content: "\270F";
}

.webicons.wifi_alt i:before {
    content: "\e033";
}

.webicons.file i:before {
    content: "\e037";
}

.webicons.calendar i:before {
    content: "\e046";
}

.webicons.dislikes i:before {
    content: "\e049";
}

.webicons.star i:before {
    content: "\e050";
}

.webicons.link i:before {
    content: "\e051";
}

.webicons.alarm i:before {
    content: "\e054";
}

.webicons.clock i:before {
    content: "\e055";
}

.webicons.stopwatch i:before {
    content: "\e056";
}

.webicons.history i:before {
    content: "\e058";
}

.webicons.compass i:before {
    content: "\e061";
}

.webicons.paperclip i:before {
    content: "\e063";
}

.webicons.power i:before {
    content: "\e064";
}

.webicons.lightbulb i:before {
    content: "\e065";
}

.webicons.tag i:before {
    content: "\e066";
}

.webicons.tags i:before {
    content: "\e067";
}

.webicons.book i:before {
    content: "\e072";
}

.webicons.bookmark i:before {
    content: "\e073";
}

.webicons.wifi i:before {
    content: "\e074";
}

.webicons.headset i:before {
    content: "\e078";
}

.webicons.warning_sign i:before {
    content: "\e079";
}

.webicons.signal i:before {
    content: "\e080";
}

.webicons.retweet i:before {
    content: "\e081";
}

.webicons.refresh i:before {
    content: "\e082";
}

.webicons.random i:before {
    content: "\e084";
}

.webicons.repeat i:before {
    content: "\e086";
}

.webicons.display i:before {
    content: "\e087";
}

.webicons.log_book i:before {
    content: "\e088";
}

.webicons.address_book i:before {
    content: "\e089";
}

.webicons.message_full i:before {
    content: "\e121";
}

.webicons.message_empty i:before {
    content: "\e122";
}

.webicons.message_in i:before {
    content: "\e123";
}

.webicons.message_out i:before {
    content: "\e124";
}

.webicons.message_plus i:before {
    content: "\e125";
}

.webicons.message_minus i:before {
    content: "\e126";
}

.webicons.message_new i:before {
    content: "\e130";
}

.webicons.inbox i:before {
    content: "\e131";
}

.webicons.inbox_in i:before {
    content: "\e135";
}

.webicons.inbox_out i:before {
    content: "\e136";
}

.webicons.cogwheel i:before {
    content: "\e137";
}

.webicons.cogwheels i:before {
    content: "\e138";
}

.webicons.picture i:before {
    content: "\e139";
}

.webicons.edit i:before {
    content: "\e151";
}

.webicons.new_window i:before {
    content: "\e152";
}

.webicons.more_windows i:before {
    content: "\e155";
}

.webicons.show_big_thumbnails i:before {
    content: "\e156";
}

.webicons.show_thumbnails i:before {
    content: "\e157";
}

.webicons.show_thumbnails_with_lines i:before {
    content: "\e158";
}

.webicons.show_lines i:before {
    content: "\e159";
}

.webicons.facetime_video i:before {
    content: "\e181";
}

.webicons.download_alt i:before {
    content: "\e182";
}

.webicons.move i:before {
    content: "\e187";
}

.webicons.circle_plus i:before {
    content: "\e191";
}

.webicons.circle_minus i:before {
    content: "\e192";
}

.webicons.circle_remove i:before {
    content: "\e193";
}

.webicons.circle_ok i:before {
    content: "\e194";
}

.webicons.circle_question_mark i:before {
    content: "\e195";
}

.webicons.circle_info i:before {
    content: "\e196";
}

.webicons.circle_exclamation_mark i:before {
    content: "\e197";
}

.webicons.remove i:before {
    content: "\e198";
}

.webicons.ok i:before {
    content: "\e199";
}

.webicons.ban i:before {
    content: "\e200";
}

.webicons.download i:before {
    content: "\e201";
}

.webicons.upload i:before {
    content: "\e202";
}

.webicons.ok_2 i:before {
    content: "\e207";
}

.webicons.remove_2 i:before {
    content: "\e208";
}

.webicons.left_arrow i:before {
    content: "\e211";
}

.webicons.right_arrow i:before {
    content: "\e212";
}

.webicons.down_arrow i:before {
    content: "\e213";
}

.webicons.up_arrow i:before {
    content: "\e214";
}

.webicons.resize_small i:before {
    content: "\e215";
}

.webicons.resize_full i:before {
    content: "\e216";
}

.webicons.circle_arrow_left i:before {
    content: "\e217";
}

.webicons.circle_arrow_right i:before {
    content: "\e218";
}

.webicons.circle_arrow_top i:before {
    content: "\e219";
}

.webicons.circle_arrow_down i:before {
    content: "\e220";
}

.webicons.play_button i:before {
    content: "\e221";
}

.webicons.unshare i:before {
    content: "\e222";
}

.webicons.share i:before {
    content: "\e223";
}

.webicons.chevron-right i:before {
    content: "\e224";
}

.webicons.chevron-left i:before {
    content: "\e225";
}

.webicons.retweet_2 i:before {
    content: "\e230";
}

.webicons.zoom_in i:before {
    content: "\e237";
}

.webicons.zoom_out i:before {
    content: "\e238";
}

.webicons.flash i:before {
    content: "\e242";
}

.webicons.google_maps i:before {
    content: "\e243";
}

.webicons.conversation i:before {
    content: "\e245";
}

.webicons.chat i:before {
    content: "\e246";
}

.webicons.delete i:before {
    content: "\e257";
}

.webicons.flag i:before {
    content: "\e267";
}

.webicons.keyboard-wireless i:before {
    content: "\e269";
}

.webicons.settings i:before {
    content: "\e281";
}

.webicons.share_alt i:before {
    content: "\e309";
}

.webicons.comments i:before {
    content: "\e310";
}

.webicons.more_items i:before {
    content: "\e319";
}

.webicons.certificate i:before {
    content: "\e333";
}

.webicons.globe i:before {
    content: "\e341";
}

.webicons.thumbs_up i:before {
    content: "\e344";
}

.webicons.thumbs_down i:before {
    content: "\e345";
}

.webicons.hand_up i:before {
    content: "\e348";
}

.webicons.fullscreen i:before {
    content: "\e350";
}

.webicons.book_open i:before {
    content: "\e352";
}

.webicons.file_import i:before {
    content: "\e359";
}

.webicons.file_export i:before {
    content: "\e360";
}

.webicons.expand i:before {
    content: "\e368";
}

.webicons.collapse_top i:before {
    content: "\e370";
}

.webicons.global i:before {
    content: "\e372";
}
