.webicons.cake i:before {
    content: "\e273";
}

.webicons.drink i:before {
    content: "\e274";
}

.webicons.beer i:before {
    content: "\e275";
}

.webicons.fast_food i:before {
    content: "\e276";
}

.webicons.cutlery i:before {
    content: "\e277";
}

.webicons.pizza i:before {
    content: "\e278";
}

.webicons.birthday_cake i:before {
    content: "\e279";
}

.webicons.celebration i:before {
    content: "\e292";
}

.webicons.tea_kettle i:before {
    content: "\e293";
}

.webicons.french_press i:before {
    content: "\e294";
}

.webicons.coffee_cup i:before {
    content: "\e295";
}

.webicons.pot i:before {
    content: "\e296";
}

.webicons.grater i:before {
    content: "\e297";
}

.webicons.kettle i:before {
    content: "\e298";
}

.webicons.glass i:before {
    content: "\e001";
}
