.webicons.cart_out i:before {
    content: "\e209";
}

.webicons.cart_in i:before {
    content: "\e210";
}

.webicons.shopping_cart i:before {
    content: "\e203";
}

.webicons.euro i:before {
    content: "\20AC";
}

.webicons.usd i:before {
    content: "\e228";
}

.webicons.gbp i:before {
    content: "\e229";
}

.webicons.coins i:before {
    content: "\e038";
}

.webicons.bank i:before {
    content: "\e264";
}

.webicons.qrcode i:before {
    content: "\e259";
}

.webicons.barcode i:before {
    content: "\e260";
}

.webicons.shopping_bag i:before {
    content: "\e351";
}

.webicons.wallet i:before {
    content: "\e326";
}

.webicons.credit_card i:before {
    content: "\e268";
}
