.webicons.filter i:before {
    content: "\e321";
}

.webicons.heart_empty i:before {
    content: "\e020";
}

.webicons.pin i:before {
    content: "\e239";
}

.webicons.rotation_lock i:before {
    content: "\e241";
}

.webicons.sort i:before {
    content: "\e320";
}

.webicons.calculator i:before {
    content: "\e324";
}

.webicons.globe_af i:before {
    content: "\e371";
}

.webicons.cloud i:before {
    content: "\2601";
}

.webicons.direction i:before {
    content: "\e234";
}

.webicons.brush i:before {
    content: "\e235";
}

.webicons.pen i:before {
    content: "\e236";
}

.webicons.restart i:before {
    content: "\e366";
}

.webicons.collapse_left i:before {
    content: "\e369";
}

.webicons.cloud-upload i:before {
    content: "\e364";
}

.webicons.cloud-download i:before {
    content: "\e365";
}

.webicons.hand_right i:before {
    content: "\e346";
}

.webicons.hand_left i:before {
    content: "\e347";
}

.webicons.hand_down i:before {
    content: "\e349";
}

.webicons.vcard i:before {
    content: "\e265";
}

.webicons.hdd i:before {
    content: "\e343";
}

.webicons.blog i:before {
    content: "\e331";
}

.webicons.bell i:before {
    content: "\e334";
}

.webicons.pushpin i:before {
    content: "\e336";
}

.webicons.pin_flag i:before {
    content: "\e338";
}

.webicons.dashboard i:before {
    content: "\e332";
}

.webicons.briefcase i:before {
    content: "\e342";
}

.webicons.database_lock i:before {
    content: "\e141";
}

.webicons.database_plus i:before {
    content: "\e142";
}

.webicons.database_minus i:before {
    content: "\e143";
}

.webicons.database_ban i:before {
    content: "\e144";
}

.webicons.folder_open i:before {
    content: "\e145";
}

.webicons.folder_plus i:before {
    content: "\e146";
}

.webicons.folder_minus i:before {
    content: "\e147";
}

.webicons.folder_lock i:before {
    content: "\e148";
}

.webicons.folder_flag i:before {
    content: "\e149";
}

.webicons.folder_new i:before {
    content: "\e150";
}

.webicons.girl i:before {
    content: "\e005";
}

.webicons.parents i:before {
    content: "\e025";
}

.webicons.nameplate i:before {
    content: "\e353";
}

.webicons.nameplate_alt i:before {
    content: "\e354";
}

.webicons.old_man i:before {
    content: "\e035";
}

.webicons.male i:before {
    content: "\e247";
}

.webicons.female i:before {
    content: "\e248";
}

.webicons.anchor i:before {
    content: "\2693";
}

.webicons.divide i:before {
    content: "\00F7";
}

.webicons.keyboard-wired i:before {
    content: "\e270";
}

.webicons.lock i:before {
    content: "\e204";
}

.webicons.unlock i:before {
    content: "\e205";
}

.webicons.electricity i:before {
    content: "\e206";
}

.webicons.asterisk i:before {
    content: "\002A";
}

.webicons.message_ban i:before {
    content: "\e127";
}

.webicons.message_flag i:before {
    content: "\e128";
}

.webicons.message_lock i:before {
    content: "\e129";
}

.webicons.building i:before {
    content: "\e090";
}

.webicons.check i:before {
    content: "\e153";
}

.webicons.unchecked i:before {
    content: "\e154";
}

.webicons.notes i:before {
    content: "\e040";
}

.webicons.stats i:before {
    content: "\e041";
}

.webicons.charts i:before {
    content: "\e042";
}

.webicons.pie_chart i:before {
    content: "\e043";
}

.webicons.more i:before {
    content: "\e188";
}

.webicons.keys i:before {
    content: "\e045";
}

.webicons.inbox_plus i:before {
    content: "\e132";
}

.webicons.inbox_minus i:before {
    content: "\e133";
}

.webicons.inbox_lock i:before {
    content: "\e134";
}
