.webicons.train i:before {
    content: "\e015";
}

.webicons.car i:before {
    content: "\e006";
}

.webicons.road i:before {
    content: "\e027";
}

.webicons.cars i:before {
    content: "\e029";
}

.webicons.luggage i:before {
    content: "\e034";
}

.webicons.bus i:before {
    content: "\e032";
}

.webicons.airplane i:before {
    content: "\2708";
}

.webicons.truck i:before {
    content: "\e059";
}

.webicons.cargo i:before {
    content: "\e060";
}

.webicons.boat i:before {
    content: "\e256";
}

.webicons.bicycle i:before {
    content: "\e307";
}

.webicons.suitcase i:before {
    content: "\e358";
}

.webicons.roundabout i:before {
    content: "\e083";
}
