.webicons.music i:before {
    content: "\e018";
}

.webicons.note i:before {
    content: "\e019";
}

.webicons.headphones i:before {
    content: "\e077";
}

.webicons.adjust_alt i:before {
    content: "\e140";
}

.webicons.step_backward i:before {
    content: "\e171";
}

.webicons.fast_backward i:before {
    content: "\e172";
}

.webicons.rewind i:before {
    content: "\e173";
}

.webicons.play i:before {
    content: "\e174";
}

.webicons.pause i:before {
    content: "\e175";
}

.webicons.stop i:before {
    content: "\e176";
}

.webicons.forward i:before {
    content: "\e177";
}

.webicons.fast_forward i:before {
    content: "\e178";
}

.webicons.step_forward i:before {
    content: "\e179";
}

.webicons.eject i:before {
    content: "\e180";
}

.webicons.mute i:before {
    content: "\e183";
}

.webicons.volume_down i:before {
    content: "\e184";
}

.webicons.volume_up i:before {
    content: "\e185";
}

.webicons.playlist i:before {
    content: "\e160";
}

.webicons.ear_plugs i:before {
    content: "\e169";
}

.webicons.albums i:before {
    content: "\e240";
}

.webicons.microphone i:before {
    content: "\e301";
}

.webicons.piano i:before {
    content: "\e327";
}
