.webicons.dumbbell i:before {
    content: "\e357";
}

.webicons.bullhorn i:before {
    content: "\e356";
}

.webicons.smoking i:before {
    content: "\e363";
}

.webicons.sampler i:before {
    content: "\e328";
}

.webicons.candle i:before {
    content: "\e335";
}

.webicons.vases i:before {
    content: "\e355";
}

.webicons.security_camera i:before {
    content: "\e367";
}

.webicons.magic i:before {
    content: "\e010";
}

.webicons.beach_umbrella i:before {
    content: "\e014";
}

.webicons.snowflake i:before {
    content: "\2744";
}

.webicons.keynote i:before {
    content: "\e062";
}

.webicons.cleaning i:before {
    content: "\e068";
}

.webicons.gift i:before {
    content: "\e070";
}

.webicons.umbrella i:before {
    content: "\2602";
}

.webicons.stroller i:before {
    content: "\e076";
}

.webicons.pool i:before {
    content: "\e261";
}

.webicons.buoy i:before {
    content: "\e262";
}

.webicons.spade i:before {
    content: "\e263";
}

.webicons.bluetooth i:before {
    content: "\e226";
}

.webicons.moon i:before {
    content: "\e231";
}

.webicons.sun i:before {
    content: "\2609";
}

.webicons.heat i:before {
    content: "\e085";
}

.webicons.electrical_socket_eu i:before {
    content: "\e379";
}

.webicons.electrical_socket_us i:before {
    content: "\e380";
}

.webicons.hospital i:before {
    content: "\e299";
}

.webicons.hospital_h i:before {
    content: "\e300";
}

.webicons.oxygen_bottle i:before {
    content: "\e253";
}

.webicons.fins i:before {
    content: "\e254";
}

.webicons.sheriffs_star i:before {
    content: "\e258";
}

.webicons.ring i:before {
    content: "\02DA";
}

.webicons.electrical_plug i:before {
    content: "\e266";
}

.webicons.cardio i:before {
    content: "\e283";
}

.webicons.t-shirt i:before {
    content: "\e284";
}

.webicons.pants i:before {
    content: "\e285";
}

.webicons.sweater i:before {
    content: "\e286";
}

.webicons.fabric i:before {
    content: "\e287";
}

.webicons.leather i:before {
    content: "\e288";
}

.webicons.scissors i:before {
    content: "\e289";
}

.webicons.tie i:before {
    content: "\e325";
}

.webicons.playing_dices i:before {
    content: "\e323";
}

.webicons.bug i:before {
    content: "\e361";
}

.webicons.crown i:before {
    content: "\e362";
}

.webicons.life_preserver i:before {
    content: "\e308";
}

/* Nature */
.webicons.flower i:before {
    content: "\2698";
}

.webicons.tree_conifer i:before {
    content: "\e317";
}

.webicons.tree_deciduous i:before {
    content: "\e318";
}

.webicons.fishes i:before {
    content: "\e255";
}

.webicons.turtle i:before {
    content: "\e339";
}

.webicons.rabbit i:before {
    content: "\e340";
}

.webicons.leaf i:before {
    content: "\e002";
}

.webicons.dog i:before {
    content: "\e003";
}

/** Buildings **/
.webicons.temple_christianity_church i:before {
    content: "\e303";
}

.webicons.temple_islam i:before {
    content: "\e304";
}

.webicons.temple_hindu i:before {
    content: "\e305";
}

.webicons.temple_buddhist i:before {
    content: "\e306";
}

/** Tools **/
.webicons.spray i:before {
    content: "\e373";
}

.webicons.nails i:before {
    content: "\e374";
}

.webicons.claw_hammer i:before {
    content: "\e375";
}

.webicons.classic_hammer i:before {
    content: "\e376";
}

.webicons.hand_saw i:before {
    content: "\e377";
}

.webicons.axe i:before {
    content: "\e314";
}
